body {
	font-family: 'Lato';
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	font-family: 'Montserrat';
}
.btn-danger {
	border: #cc0000 !important;
	background-color: #cc0000 !important;
}
.btn-danger:hover, .btn-danger:focus {
	background-color: #990000 !important;
}
.btn-success {
	background-color: #18BC9C !important;
	border-color: #18BC9C !important;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
	background-color: #128f76 !important;
	border-color: #128f76 !important;
}
.bg-dark {
	background-color: #000d1a !important;
}
.line {
	border-bottom: 2px solid #99bbff;
}